<div class="row">
    <div class="col-xs-12">
        <form   (ngSubmit)="addItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" ngModel required>  
                </div>
                <div class="col-sm-2 form-group">
                    <label for="quantity">Qty</label>
                    <input type="number" class="form-control" id="quantity"  name="quantity" ngModel required min=1>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="f.invalid">{{ editMode?'Update':'Add'}}</button>
                    <button class="btn btn-primary mx-2" type="button" (click)="resetItem()">Clear</button>
                    <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="deleteItem()">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>