<div class="row">
    <div class="col-xs-12">
        <h1 class="text-primary">{{recipieDetail.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Manage Recipie
            </button>
            <ul class="dropdown-menu"  style="cursor: pointer;" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" (click)="addIngredients()">To Shopping List</a></li>
                <li><a class="dropdown-item" [routerLink]="['/recipie',recipieDetail.id,'edit']">Edit Recipie</a></li>
                <li><a class="dropdown-item"  >Delete Recipie</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="{{recipieDetail.imageUrl}}" class="img-responsive mt-2" style="max-height:400px" alt="">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2 class="text-primary">Description</h2>
        {{recipieDetail.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipieDetail.ingredients">
                {{ingredient.name}} - {{ingredient.quantity}}
            </li>
        </ul>
    </div>
</div>